<section class="fillTheGap hidden">
  <div class="fillTheGap-item">
    <label class="fillTheGap-label" for="name">Full name</label>
    <input
      class="fillTheGap-input"
      type="text"
      id="name"
      name="name"
      placeholder="Ej: Sally Hill"
      required
    />
  </div>
  <div class="fillTheGap-item">
    <label class="fillTheGap-label" for="job">Job</label>
    <input
      class="fillTheGap-input"
      type="text"
      id="job"
      name="job"
      placeholder="Ej: Front-end unicorn"
      required
    />
  </div>
  <div class="fillTheGap-item profilePicture-align">
    <label class="fillTheGap-label" for="profilePicture">Profile picture</label>
    <!-- El siguiente <a> es un botón. Hay que enlazar -->
    <button
      type="button"
      class=" btn btn-profilePicture js__profile-trigger"
      src="#"
    >
      Add picture
    </button>
    <!-- El siguiente input es para la previsualización de la imagen en miniatura. Aún hay que enlazar -->
    <div class="fillTheGap-input profile-miniature js__profile-preview"></div>
    <input type="file" class="input-file js__profile-upload-btn" />
  </div>
  <div class="fillTheGap-item">
    <label class="fillTheGap-label" for="email">Email</label>
    <input
      class="fillTheGap-input circle-item"
      type="email"
      id="email"
      name="email"
      placeholder="Ej: sallyhill@gmail.com"
      required
    />
  </div>
  <div class="fillTheGap-item">
    <label class="fillTheGap-label" for="phone">Phone number</label>
    <input
      class="fillTheGap-input circle-item"
      type="tel"
      id="phone"
      name="phone"
      placeholder="Ej: 555-55-55-55"
      required
    />
  </div>
  <div class="fillTheGap-item">
    <label class="fillTheGap-label" for="linkedin">Linkedin</label>
    <input
      class="fillTheGap-input circle-item"
      type="text"
      id="linkedin"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
      required
    />
  </div>
  <div class="fillTheGap-item">
    <label class="fillTheGap-label" for="gitHub">GitHub</label>
    <input
      class="fillTheGap-input circle-item"
      type="text"
      id="gitHub"
      name="gitHub"
      placeholder="Ej: @sally-hill"
      required
    />
  </div>
</section>
