<fieldset class="fillTheGap">
    <div class="fullname">
        <label for="name">Full name</label>
        <input type="text" id="name" name="name" placeholder="Ej: Sally Hill" />
    </div>
    <div class="job">
        <label for="job">Job</label>
        <input type="text" id="job" name="job" placeholder="Ej: Front-end unicorn" />
    </div>
    <div class="profilePicture">
        <label for="profilePicture">Profile picture</label>
        <!-- El siguiente <a> es un botón. Hay que enlazar -->
        <a class="profilePicture-btn" src="#">
            <div>Add picture</div>
        </a>
        <!-- El siguiente input es para la previsualización de la imagen en miniatura. Aún hay que enlazar -->
        <input type="image" src="aquí enlazamos con preview" alt="Miniature profile picture" />
    </div>
    <div class="email">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Ej: sallyhill@gmail.com" />
    </div>
    <div class="phoneNumber">
        <label for="phone">Phone number</label>
        <input type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" />
    </div>
    <div class="linkedin">
        <label for="linkedin">Linkedin</label>
        <input type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" />
    </div>
    <div class="gitHub">
        <label for="gitHub">GitHub</label>
        <input type="text" id="gitHub" name="gitHub" placeholder="Ej: @sally-hill" />
    </div>
</fieldset>