<section class="fillTheGap hidden">
    <div class="fillTheGap-item">
        <label class="fillTheGap-label" for="name">Full name</label>
        <input class="fillTheGap-input" type="text" id="name" name="name" placeholder="Ej: Sally Hill" required />
    </div>
    <div class="fillTheGap-item">
        <label class="fillTheGap-label" for="job">Job</label>
        <input class="fillTheGap-input" type="text" id="job" name="job" placeholder="Ej: Front-end unicorn" required />
    </div>
    <div class="fillTheGap-item profilePicture-align">
        <label class="fillTheGap-label" for="profilePicture">Profile picture</label>
        <!-- El siguiente <a> es un botón. Hay que enlazar -->
        <button class=" btn btn-profilePicture" src="#">Add picture</button>
        <!-- El siguiente input es para la previsualización de la imagen en miniatura. Aún hay que enlazar -->
        <input class="fillTheGap-input profile-miniature" src="aquí enlazamos con preview" name="profilePicture" />
    </div>
    <div class="fillTheGap-item">
        <label class="fillTheGap-label" for="email">Email</label>
        <input class="fillTheGap-input" type="email" id="email" name="email" placeholder="Ej: sallyhill@gmail.com"
            required />
    </div>
    <div class="fillTheGap-item">
        <label class="fillTheGap-label" for="phone">Phone number</label>
        <input class="fillTheGap-input" type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55" required />
    </div>
    <div class="fillTheGap-item">
        <label class="fillTheGap-label" for="linkedin">Linkedin</label>
        <input class="fillTheGap-input" type="text" id="linkedin" name="linkedin"
            placeholder="Ej: linkedin.com/in/sally.hill" required />
    </div>
    <div class="fillTheGap-item">
        <label class="fillTheGap-label" for="gitHub">GitHub</label>
        <input class="fillTheGap-input" type="text" id="gitHub" name="gitHub" placeholder="Ej: @sally-hill" required />
    </div>
</section>