<section id="section-design" class="design">
    <p class="section__title">Colors</p>
    <div class="options__container">
        <div class="option__container">
            <label for="palette--blue-green"></label>
            <input id="palette--blue-green" type="radio" checked value="palette-bluee-green" name="colors" />
            <div class="palette__container">
                <div class="sample-color blue-green--1"></div>
                <div class="sample-color blue-green--2"></div>
                <div class="sample-color blue-green--3"></div>
            </div>

        </div>
        <div class="option__container">
            <label for="palette--red-orange"></label>
            <input id="palette--red-orange" type="radio" value="palette--red-orange" name="colors" />
            <div class="palette__container">
                <div class="sample-color red-orange--1"></div>
                <div class="sample-color red-orange--2"></div>
                <div class="sample-color red-orange--3"></div>
            </div>

        </div>
        <div class="option__container">
            <label for="palette--blue-gray"></label>
            <input id="palette--blue-gray" type="radio" value="palette--blue-gray" name="colors" />
            <div class="palette__container">
                <div class="sample-color blue-gray--1"></div>
                <div class="sample-color blue-gray--2"></div>
                <div class="sample-color blue-gray--3"></div>
            </div>

        </div>
    </div>
</section>