<main>
    <img class="landing__hero" src="assets/images/Awesome-profile-cards.svg" alt="Awesome Profile Cards Logo">
    <h1 class="landing__title">Create your visit card</h1>
    <h2 class="landing__subtitle">Create better professional contacts easily and conveniently</h2>
    <ul class="landing__list">
        <li class="landing__list-el">
            <a href="https://fontawesome.com/icons/object-ungroup?style=regular" class="icon__link">
                <i class="far fa-object-ungroup"></i>
            </a>
            <span>Design</span>
        </li>
        <li class="landing__list-el">
            <a href="https://fontawesome.com/icons/keyboard?style=regular" class="icon__link">
                <i class="far fa-keyboard" tittle="Fill button"></i>
            </a>
            <span>Fill</span>
        </li>
        <li class="landing__list-el">
            <a href="https://fontawesome.com/icons/share-alt?style=solid" class="icon__link">
                <i class="fas fa-share-alt"></i>
            </a>
            <span>Share</span>
        </li>


    </ul>
    <a class="landing__link" href=""></a>
</main>