<section class="main-preview__container">
    <button class="reset__btn"><i class="far fa-trash-alt reset__icon"></i>Reset</button>
    <div class="card-user__container card__container">
        <div class="card-user card__container">
            <h2 class="card-user__name">User name</h2>
            <h3 class="card-user__position">User occupation</h3>
        </div>
    </div>
    <div class="card__picture">
        <img src="../../assets/images/a-109-240x200.jpg" alt="User image">
    </div>
    <div class="card-sm__container card__container">
        <ul class="card__social-media-list">
            <li class="card__item-list">
                <i class="fas fa-mobile-alt" title="Mobile icon"></i>
            </li>
            <li class="card__item-list">
                <a class="email" href=""><i class="far fa-envelope" title="Email icon"></i></a>
            </li>
            <li class="card__item-list">
                <i class="fab fa-linkedin-in" title="Linkedin icon"></i>
            </li>
            <li id="gitHubEl" class="card__item-list">
                <a class="card__link" id="gitHub-link" href=""><i class="fab fa-github-alt" title="Github icon"></i></a>
            </li>
        </ul>
    </div>
    </div>

</section>