

<fieldset class="section__design">
    <label for="colors">Colores</label>
    <input type="radio" value="" name="colors" id="colors">
    <div class="sample-color"></div>
    <div class="sample-color"></div>
    <div class="sample-color"></div>

    <input type="radio" value="" name="colors" id="colors">
    <div class="sample-color"></div>
    <div class="sample-color"></div>
    <div class="sample-color"></div>

    <input type="radio" value="" name="colors" id="colors">
    <div class="sample-color"></div>
    <div class="sample-color"></div>
    <div class="sample-color"></div>
</fieldsets>