<section>
    <div class="card__container">
        <h2 class="card__user-name">User name</h2>
        <h3 class="card__user-position">User occupation</h3>

        <div class="card__picture">
            <img src="../../assets/images/a-109-240x200.jpg" alt="User image">
        </div>
        <ul>
            <li class="card__item-list">
                <i class="fas fa-mobile-alt" title="Mobile icon"></i>
            </li>
            <li class="card__item-list">
                <i class="far fa-envelope" title="Email icon"></i>
            </li>
            <li class="card__item-list">
                <i class="fab fa-linkedin-in" title="Linkedin icon"></i>
            </li>
            <li class="card__item-list">
                <i class="fab fa-github-alt" title="Github icon"></i>
            </li>
        </ul>
    </div>

</section>