<section>
    <div class="card__container">
        <div class="card__header">
            <h2 class="card__user-name"></h2>
            <h3 class="card__user-position"></h3>
        </div>
        <div class="card__picture"></div>
        <div class="card__footer">
            <ul>
                <li class="item__list">
                    <i class="fas fa-mobile-alt"></i>
                </li>
                <li class="item__list">
                    <i class="far fa-envelope"></i>
                </li>
                <li class="item__list">
                    <i class="fab fa-linkedin-in"></i>
                </li>
                <li class="item__list">
                    <i class="fab fa-github-alt"></i>
                </li>
            </ul>
        </div>
    </div>

</section>