.fieldset__title__container{
    display: flex;
    border-top:1px solid $colorGreyStone;
    border-bottom:1px solid $colorGreyStone;
    justify-content: space-between;
    font-size: $fontSizeL;
    background-color: $colorBeige;
    align-items: center;
    margin:0 20px;
    padding: 10px 0 7px;
}

.icon-legend__container{
    display:flex;
}

.fieldset__title{
    text-transform: uppercase;
    font-family: $fontFamilyCardButton;
    font-size:$fontSizeL;
    font-weight: $fontWeightS;
    color:#54585a;
    margin:0 10px;
    font-family: $fontFamilyCardButton;
    font-weight: $fontWeightS;
    font-size: $fontSizeL;
}

.icon--fieldset{
    color:#e17334;
    font-size: $fontSizeL;
}

.btn--collapsable{
    background-color: transparent;
    border:1px solid transparent;
  
}

.arrow{
    color:$colorGraySlate;
    font-size:$fontSizeL;
}


.hidden{
    display: none;
}

