.fieldset__title__container{
    display: flex;
    border-top:1px solid $colorBackgroundSecondary;
    border-bottom:1px solid $colorBackgroundSecondary;
    justify-content: space-between;
    font-size: $fontSizeL;
    align-items: center;
    margin:0 20px;
    padding: 10px 0 7px;
}

.icon-legend__container{
    display:flex;
}

.fieldset__title{
    text-transform: uppercase;
    color:$colorTextSecondary;
    margin:0 10px;
    font-family: $fontFamilyCardButton;
    font-weight: $fontWeightS;
    font-size: $fontSizeL;
}

.icon--fieldset{
    color:$colorTextTitle;
    font-size: $fontSizeL;
}

.btn--collapsable{
    background-color: transparent;
    border:1px solid transparent;
}

.arrow{
    color:$colorTextSecondary;
    font-size:$fontSizeL;
}