//Font Family
$fontFamilyTitle: 'Merriweather', serif;
$fontFamilyCard: 'Montserrat', sans-serif;
$fontFamilyCardButton:'Open Sans', sans-serif;

//Font Size
$fontSizeXS: 12px;
$fontSizeS:12.8px;
$fontSizeM:14px;// texto document
$fontSizeL:16px;
$fontSizeXL:18px;
$fontSizeXXL:19.2px;
$fontSizeXXL:24px;

//Font Weight
$fontWeightXS:400;
$fontWeightS:600;
$fontWeightM:700;
$fontWeightL:900;

//Line Height
$lineHeight:20px;