*, *::after, *::before {
    @include boxParameter(0, 0);
    box-sizing: border-box;
}

body {
    @include flex(flex, column, unset, unset);
    @include boxParameter(0, 0);
    @include textParameter($colorGreenBottle, $fontFamilyCardButton, $fontSizeS, $fontWeightXS);
    max-height: 100vh;
    text-align: center;
    background-color: $colorBeige;  
}

main{
    background-color: $colorBeige;
    margin: auto;
    max-width: 100%;
    
    @media all and (min-width:768px) {
        @include flex(flex, row-reverse, unset, unset);
        padding: 20px 40px 20px 40px;
    }

}

a {
    text-decoration: none; 
    color:inherit;
}

ul {
    list-style: none; 
}

button{
    @include boxParameter(0, 0);
    background: none;
    border: none;
}

.fieldset-item{
    border: none;
    @media all and (min-width:768px){
        min-width: 321px;
    }
    @media all and (min-width:1024px){
        min-width: 399px;
        margin-right: 10px;
    }
}
