*, *::after, *::before {
    @include boxParameter(0, 0);
    box-sizing: border-box;
}

body {
    @include flex(flex, column, unset, unset);
    @include boxParameter(0, 0);
    @include textParameter($colorGreenBottle, $fontFamilyCardButton, $fontSizeS, $fontWeightXS);
    height: 100vh;
    text-align: center;
    background-color: $colorBeige;  
}

main{
    background-color: $colorBeige;
    padding: 20px 40px 20px 40px;
    
    @media all and (min-width:768px) {
    @include flex(flex, row-reverse, unset, unset);
    }
}

a {
    text-decoration: none; 
}

ul {
    list-style: none; 
}

button{
    @include boxParameter(0, 0);
    background: none;
    border: none;
}

.fieldset-item{
    border: none;
}