.footer{
    display:flex;
    border-top:1px solid $colorGreyStone;
    flex-direction: column;
    align-items: center;
    padding:20px 0;
    background-color: $colorSimplyWhite;
    @media all and (min-width:768px) {
        flex-direction: row;
        justify-content: space-around;
        padding:10px 40px;
    }
}

.copyright{
    font-size: $fontSizeS;
    color:$colorGreyAsphalt;
    opacity:0.5;
}

.logo-adalab__link{
    width:103px;
    height: 40px;
    margin-top:11px;
    @media all and (min-width:768px){
        margin-top:0px;
    }
}

.logo-adalab{
    width:103px;
    height: 40px;
  
}

.logo-frontNerds{
    width:103px;
    height: 40px;
  
}
