.sample-color{
    width:30px;
    height: 25px;

}
.option__container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center; 
    margin-bottom: 20px;
 
}
.palette__container{
    display:flex;
    margin-left: 10px;
  
}

.radio--blue{
    
    background-color: white;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 3px grey;
    border-radius: 50%;
    border:10px solid black;

}
.color-radio__container{
    display: block;
    border:1px solid black;
}
.color-radio__container input{
    opacity:0.5;
    cursor: pointer;
}
.blue-green--1{
    background-color: $colorGreenBottle;
}
.blue-green--2{
    background-color: $colorGreenyBlue;
}
.blue-green--3{
    background-color: $colorLimePastel;
}

.red-orange--1{
    background-color: $colorRedDriedBlood;
}
.red-orange--2{
    background-color: $colorRedValentine;
}
.red-orange--3{
    background-color: $colorOrangeBlood;
}
.blue-gray--1{
    background-color: $colorGraySwamp;
}
.blue-gray--2{
    background-color: $colorGrayFog;
}
.blue-gray--3{
    background-color: $colorSmokeBlue;
}
.design{
    display:flex;
    justify-content: space-between;
    padding: 23px 20px 30px 39px;

}
.section__title{
    text-transform: uppercase;
    font-size:$fontSizeS;
    color:$colorGraySlate; 
}

