.fillTheGap {
    font-family: $fontFamilyCardButton;
    font-size: $fontSizeS;
    color: $colorTextPrimary;
    margin: 25px 20px 30px;
}

.fillTheGap-item {
    text-align: left;
}

.fillTheGap-label{
   margin-bottom: 6px;
   width: 100%;
}

.fillTheGap-input{
    border: solid 1px $colorBorderInput;
    display: block;
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    &::placeholder{
        color: $colorPlaceholderInput; 
    }
}

.profile-miniature{
    width: 30px;
    height: 30px;
}

.profilePicture-align{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}