.main__header {
    display: flex;
    flex-direction: column;
    // padding: 31px, 79px, 30px, 40px;
    background-color:$colorTextButton;
}

.header__image {
    height: 50px;
    width: 201px;
    // padding: 31px, 79px, 30px, 40px;
}