*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: $fontFamilyCardButton;
}

.landing__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    padding: 95px 26.4px 30px 25.6px;
    background-color: $colorBackgroundPrimary;
}

.landing__hero{
    width: 250px;
    padding-bottom: 35.4px;
}

.landing__title{
   color: $colorTextTitle;
   font-family: $fontFamilyTitle;
   font-size: $fontSizeXL;
   font-weight: $fontWeightL;
}

.landing__subtitle{
   color: $colorTextPrimary;
   font-size: $fontSizeXS;
}

.landing__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 268px;
    margin-top: 16.8px;
    padding: 15px 20px 19.8px 20px;
    border: 1.6px solid rgba(225, 115, 52, 0.21);
}

.item__list{
    font-size: $fontSizeXS;
    color: $colorTextSecondary;
}

.icon{
    display: block;
    margin: 0;
    font-size: $fontSizeXXL;
    color: $colorTextTitle;
}

.landing__link{
    margin-top: 38.6px;
    padding: 10px 0 10px 0;
    width: 129px;
    background-color: $colorBackgroundButton;
    color: $colorTextButton;
    text-transform: uppercase;
    font-weight: $fontWeightS;
    border-radius: 21px;
}