.landing__container{
    @include flex(flex, column, center, center);
    min-width: 320px;
    padding: 95px 26.4px 30px 25.6px;
    background-color: $colorBeige;
}

.landing__hero{
    width: 250px;
    padding-bottom: 35.4px;
}

.landing__title{
    @include textParameter($colorOrangeCitrus, $fontFamilyTitle, $fontSizeXL, $fontWeightL);
}

.landing__subtitle{
    @include textParameter($colorGreenBottle, inherit, $fontSizeXS, none);
}

.landing__list{
    @include flex(flex, row, space-evenly, none);
    @include boxParameter(16.8px 0 0 0, 15px 20px 19.8px 20px);
    width: 268px;
    border: 1.6px solid rgba(225, 115, 52, 0.21);
}

.item__list{
    @include textParameter($colorGraySlate, inherit, $fontSizeXS, none);
}

.icon{
    display: block;
    margin: 0;
    font-size: $fontSizeXXL;
    color: $colorOrangeCitrus;
}

.landing__link{
    @include textParameter($colorSimplyWhite, inherit, inherit, $fontWeightS);
    @include boxParameter(38.6px 0 0 0, 10px 0 10px 0);
    width: 129px;
    background-color: $colorGreenyBlue;
    text-transform: uppercase;
    border-radius: 21px;
}