.main-preview__container{
    @include boxSize(100%, 457px);
    @include gridContainer(grid, 1fr, 1fr 1fr 1fr 1fr, 'resetBtn' 'userInfo' 'picture' 'socialMedia');
    position: relative;
    background: $colorFromGrayToGhostwhite;
    padding: 38px 35px 40px 45px;
    
    @media all and (min-width:768px) {
        @include boxParameter(0 0 0 30px, 173px 44px 260px 45px)
        max-width: 329px;
        min-height: 812px;
        border-radius: 6px;
    }
}

.reset__btn {
    @include textParameter($colorGraySlate, $fontFamilyCardButton, $fontSizeXXS, none);
    @include boxSize(75px, 30px);
    grid-area: resetBtn;
    border: 1px solid $colorBeige;
    border-radius: 15px;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
}

.reset__icon{
    margin-right: 10px;
}

.card__container{
    @include boxSize(240px, auto);
    @include flex(inherit, column, none, none);
    background-color: $colorBeige;
    box-shadow: $colorBoxShadow;
    background-color: $colorBeige;
    text-align: start;
}

.card-user__container{
    @include boxSize(240px, 42px);
    grid-area: userInfo;
    padding-top: 23px;
    height: 75px;

    .card-user{
        border-left: 5px solid $colorLimePastel;
        box-shadow: none;

        .card-user__name{
            @include textParameter(inherit, $fontFamilyCard, $fontSizeL, bold);
            margin: 0 0 4px 15px;
        }
        
        .card-user__position{
            @include textParameter($colorGraySlate, $fontFamilyCard, $fontSizeM, normal);
            margin: 0 0 10px 15px;
        }
    }
}

.card__picture{
    @include boxSize(240px, 200px);
    display: inline-flex;
    grid-area: picture;
    box-shadow: $colorBoxShadow;
}

.card__social-media-list{
    @include flex(flex, flex-start, center, center);
    grid-area: socialMedia;
    position: absolute;
    bottom: 12px;
    margin-left: 20px;
}

.card__item-list{
    @include flex(flex, none, center, center);
    @include boxSize(32px, 32px);
    font-size: $fontSizeL;
    border: 2px solid $colorLimePastel;
    border-radius: 50%;
    margin-right: 10px;
}
