.main-preview__container{
    @include flex(flex, column, unset, unset);
    @include boxSize(100%, 457px);
    position: relative;
    background: $colorBackgroundGradient;
    padding: 38px 35px 40px 45px;

    @media all and (min-width:768px) {
        @include boxSize(329px, 812px);
        justify-self: end;
        border-radius: 6px;
        padding: 173px 44px 260px 45px;
    }
}

.reset__btn {
    @include textParameter($colorTextSecondary, $fontFamilyCardButton, $fontSizeXXS, none);
    @include boxSize(75px, 30px);
    border: 1px solid $colorBackgroundPrimary;
    border-radius: 15px;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
}

.reset__icon{
    margin-right: 10px;
}

.card__container{
    @include flex(inherit, column, none, none);
    @include boxSize(240px, 329px);
    @include relativeCentered();
    background-color: $colorBackgroundPrimary;
    box-shadow: $colorBoxShadow;
    padding-top: 23px;
    text-align: start;
}

.card-user__container{
    @include boxSize(240px, 42px);
    border-left: 5px solid $colorBorderInput;
    margin-bottom: 10px;
    
    .card-user__name{
        @include textParameter(inherit, $fontFamilyCard, $fontSizeL, bold);
        margin: 0 0 4px 20px;
    }
    
    .card-user__position{
        @include textParameter($colorTextSecondary, $fontFamilyCard, $fontSizeM, none);
        margin: 0 0 10px 20px;
    }
}

.card__social-media-list{
    @include flex(flex, flex-start, center, center);
    position: absolute;
    bottom: 12px;
    margin-left: 20px;
}

.card__item-list{
    @include flex(flex, none, center, center);
    @include boxSize(32px, 32px);
    font-size: $fontSizeL;
    border: 2px solid $colorBorderInput;
    border-radius: 50%;
    margin-right: 10px;
}
