.main-preview__container{
    display: flex;
    flex-direction: column;
    background: $colorBackgroundGradient;
    height: 457px;
    width: 100%;
    padding: 38px 35px 40px 45px;
}

.reset__btn {
    border-radius: 15px;
    width: 75px;
    height: 30px;
    border: 1px solid $colorBackgroundPrimary;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $fontFamilyCardButton;
    color: $colorTextSecondary;
    margin-bottom: 20px;
}

.reset__icon{
    margin-right: 10px;
}

.card__container{
    position: relative;
    background-color: $colorBackgroundPrimary;
    box-shadow: $colorBoxShadow;
    height: 329px;
    width: 240px;
    padding-top: 23px;
    text-align: start;
}

.rectangle{
    position: absolute;
    top: 23px;
    left: 0;
    height: 42px;
    width: 5px;
    background-color: $colorBorderInput;
}

.card__user-name{
    font-family: $fontFamilyCard;
    font-size: $fontSizeL;
    font-weight: bold;
    margin: 0 0 4px 20px;
}

.card__user-position{
    color: $colorTextSecondary;
    font-family: $fontFamilyCard;
    font-size: $fontSizeM;
    margin: 0 0 10px 20px;
}

.card__social-media-list{
    display: flex;
    flex-direction: flex-start;
    position: absolute;
    bottom: 12px;
    margin-left: 20px;
}

.card__item-list{
    font-size: $fontSizeL;
    border: 2px solid $colorBorderInput;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}