@mixin flex($display, $flex-direction, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin textParameter($color, $font-family, $font-size, $font-weight) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin boxParameter($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin boxSize($width, $height) {
    width: $width;
    height: $height;
}

@mixin gridContainer($display, $gridTempCol, $gridTempRw, $gridTempAr) {
    display: $display;
    grid-template-columns: $gridTempCol;
    grid-template-rows: $gridTempRw;
    grid-template-areas: $gridTempAr;
}

