//colores
$colorBackgroundPrimary: #f5f5f5;
$colorBackgroundSecondary:#d8d8d8;
$colorBackgroundGradient: linear-gradient(to bottom, #bfcdd0, #dde9ed);

$colorBackgroundButton:#438792;
$colorTextButton:#fff;

$colorTextTitle: #e17334;
$colorTextPrimary: #114e4e;
$colorTextSecondary:#54585a;
$colorTextCopy: #6b6b6b;

$colorBorderInput:#a2deaf;
