//Colors

//Palette From White to Light
$colorSimplyWhite:#fff;
$colorBeige: #f5f5f5;

//Palette  From Blue To Green
$colorGreenBottle:#114e4e;
$colorGreenyBlue:#438792;
$colorLimePastel:#a2deaf;

//Palette From Red To Orange
$colorRedDriedBlood:#420101;
$colorRedValentine:#bd1010;
$colorOrangeBlood:#e95626;
$colorOrangeCitrus: #e17334;

//Palette From Grey To Very Ligth Blue
$colorGraySwamp:#3e5b65;
$colorGrayFog:#dfe5eb;
$colorSmokeBlue:#a0c0cf;
$colorgGraySilver: #c5c5c5;
$colorGraySlate:#54585a;
$colorGreyAsphalt: #6b6b6b;
$colorGreyStone:#d8d8d8;

//Gradients
$colorFromGrayToGhostwhite: linear-gradient(to bottom, #bfcdd0, #dde9ed);
$colorBoxShadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
